.matchTitle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.matchLogo {
  margin: auto;
}

.matchCenter{
  display: grid;
  height: 84%;
  width: 80%;
  background-color: #565656;
  margin: auto;
}

.dateRow {
  grid-row: 1/2;
  margin: auto;
  color: aliceblue;
}

.stadiumRow {
  grid-row: 2/3;
  margin: auto;
  color: aliceblue;
}

.refereeRow {
  grid-row: 3/4;
  margin: auto;
  color: aliceblue;
}

.matchScore {
  grid-row: 4/6;
}

.matchScore {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(55, 60, 60);
  color: aliceblue;
}

.matchScoreCol {
  margin: auto;
}