thead {
  tr {
    background-color: #0d6efd;
  }
}

#container {
  text-align: left;
}

#table {
  color: white;
  border: gray;
}

tbody {
  tr {
    background-color: white;
    color: black;
  }
  td {
    div {
      display: inline;
    }
  }
}