.statTitle {
  text-align: center;
  color: aliceblue;
}

.homeStat {
  text-align: left;
  color: aliceblue;
  font-size: large;
}

.awayStat {
  text-align: right;
  color: aliceblue;
  font-size: large;
}

#homeTeamBar {
  display: inline-block;
  background-color: #04AA6D;
}

#awayTeamBar {
  display: inline-block;
}

.statBarContainer {
  width: 50%;
  background-color: #ddd;
}

div {
  hr {
    height: 1px;
    color: white;
  }
}