@media screen and (max-width: 576px) {
  .homeTeam {
    text-align: center;
    font-size: 200%;
  }
  .awayTeam {
    text-align: center;
    font-size: 200%;
  }
  .score {
    font-size: 175%;
  }
}

@media screen and (min-width: 576px) {
  .homeTeam {
    text-align: right;
    font-size: 100%;
  }
  .awayTeam {
    text-align: left;
    font-size: 100%;
  }
  .score {
    font-size: 100%;
  }
}

@media screen and (min-width: 992px) {
  .homeTeam {
    text-align: right;
    font-size: 200%;
  }
  .awayTeam {
    text-align: left;
    font-size: 200%;
  }
  .score {
    font-size: 175%;
  }
}

@media screen and (min-width: 1200px) {
  .homeTeam {
    text-align: right;
    font-size: 250%;
  }
  .awayTeam {
    text-align: left;
    font-size: 250%;
  }
  .score {
    font-size: 200%;
  }
}

li {
  div {
    background-color: #565656;
    border-radius: 6px;
  }
}